<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/script.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue</title>
  </head>
  <body>
    <div id="todo">
      <transition name="shake">
        <custom-message v-show="isMessage" v-bind:messagetext="messageText"></custom-message>
      </transition>
      <nav class="nav">
        <button v-bind:class="{'tab-button-active': isHome}" class="tab-button" @click="changeTab(true)">Home</button>
        <button v-bind:class="{'tab-button-active': !isHome}" class="tab-button"  @click="changeTab(false)">Tags</button>
      </nav>
      <div class="todo-inner" >
        <div v-if="isHome" class="todo-todos">

        <form @submit.prevent="addTodo">
          <div class="todo-add-input">
            <input placeholder="E.g.. Buy GTA 5" v-model="inputValue"/>
            <button type="submit">Add todo</button>
          </div>
          <custom-select @tag-selected="updateSelected" v-bind:tags="tags"></custom-select>
        </form>
      <div v-if="todos.length > 0" class="filter">
        <h3>Filter by tag:</h3>
        <div>
          <button class="filter-button" v-bind:class="{'filter-button-active': turnActive(tagId)}" v-on:click="activateFilterButton(tagId)" v-bind:style="{backgroundColor: filterButtonColors[tagId]}" :key="tagId" v-for="{tagId,tagText} in tags">#{{tagText}}</button>
        </div>
      </div>
        <transition-group name="todos" class="ul" tag="ul">
          <li class="todo-item" v-for="(todo,index) in getFiveTodos(filteredTodos())" :key="(todo.id)">
            <button @click="completeTodo(todo.id)" title="Complete todo" class="todo-complete btn-default">&or;</button>
            <p>{{todo.text}}</p>
            <p class="todo-tag" v-bind:style="{backgroundColor: filterButtonColors[todo.tag.tagId]}">#{{todo.tag.tagText}}</p>
          </li>
        </transition-group>
      <custom-pagination v-bind:currentPage="currentPage" v-bind:changepage="changePage" v-bind:todos="filteredTodos()"></custom-pagination>
    </div>
    <div class="todo-tags" v-else >
      <button v-bind:class="{'create-new-open':isNewTagOpen}" class="btn-default btn-create-new" v-on:click="openNewTagForm">Create new tag</button>
      <transition name="slide" >
        <form  class="new-tag-form" v-on:submit.prevent="createTag" v-show="isNewTagOpen" >
          <input class="new-tag-form__input" id="new-tag" placeholder="E.g car.." v-model="newTagInput"/>
          <button class="btn-default new-tag-form__button"  type="submit">Create</button>
        </form>
      </transition>
      <div>
        <h2>My tags</h2>
        <ul class="todo-tags__list">
          <li class="todo-tags__list-item" v-for="tag in tags">{{tag.tagText}} <button title="Delete" @click="deleteTag(tag.tagId)" class="tag-delete">&otimes;</button></li>
        </ul>
      </div>
    </div>
  </div>

    </div>
    <!-- <div id="app">
      <h1>Accordion</h1>
      <div class="item" v-for="(text,index) in items" :key="index">
        <div class="wrapper">

          <h3>
            {{text.text}}
          </h3>
          <button v-on:click="toggle(index)">+</button>
        </div>
        <p class="subtext" v-bind:class="{active: currentOpen === index}">{{text.subtext}}</p>
      </div>
    </div> -->
  </body>
</html>
