<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/script.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue</title>
  </head>
  <body>
    <div id="todo">
      <div class="todo-inner">
        <form @submit.prevent="addTodo">
          <div class="todo-add-input">
            <input placeholder="E.g.. Buy GTA 5" v-model="inputValue"/>
            <button type="submit">Add todo</button>
          </div>
          <custom-select v-bind:tags="tags"></custom-select>
        </form>
      <div>
        <button v-on:click="openNewTagForm">Create new tag</button>
        <form class="new-tag-form" v-on:submit.prevent="createTag" v-if="isNewTagOpen">
          <label for="new-tag">Tag</label>
          <input id="new-tag" placeholder="E.g car.." v-model="newTagInput"/>
          <button type="submit">Create</button>
        </form>
      </div>
      <div class="filter">
        <h3>Filter by tag:</h3>
        <div>
          <button class="filter-button" v-bind:class="{'filter-button-active': turnActive(tagId)}" v-on:click="activateFilterButton(tagId)" v-bind:style="{backgroundColor: filterButtonColors[tagId]}" :key="tagId" v-for="{tagId,tagText} in tags">#{{tagText}}</button>
        </div>
      </div>
      <ul class="ul">
        <li class="li">
          <div class="todo-item" v-for="(todo,index) in filteredTodos()" :key="index">
            <p>{{todo.text}}</p>
            <p class="todo-tag" v-bind:style="{backgroundColor: filterButtonColors[todo.tagId]}">#{{todo.tag}}</p>
          </div>
        </li>
      </ul>
    </div>

    </div>
    <!-- <div id="app">
      <h1>Accordion</h1>
      <div class="item" v-for="(text,index) in items" :key="index">
        <div class="wrapper">

          <h3>
            {{text.text}}
          </h3>
          <button v-on:click="toggle(index)">+</button>
        </div>
        <p class="subtext" v-bind:class="{active: currentOpen === index}">{{text.subtext}}</p>
      </div>
    </div> -->
  </body>
</html>
