:root {
  /* COLORS */
  --lightest-green: #def4c6;
  --light-green: #73e2a7;
  --dark-green: #1c7c54;
  --darkest-green: #1b512d;
  --border-radius: 5px;
  --tr-03-ease: all 0.3s ease;
  --black: #343a40;
  --grey: #e9ecef;
  --white: #fff;
  --red: #fa5252;
  /* PADDINGS */
  --pd-sm: 2px;
  --pd-sm-to-md: 4px;
  --pd-md: 6px;
  --pd-md-to-lg: 8px;
  --pd-lg: 10px;
  /* FONT SIZES */
}

ul {
  list-style: none;
}

button {
  border: none;
}

/* .changed {
  color: green;
}

#app {
  width: 20dvw;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.subtext {
  display: none;
  padding: 20px;
}

.active {
  display: inline-block;
} */

/* TODO */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95dvh;
  color: var(--black);
  font-family: "Roboto Condensed", "sans serif";
}

/* GENERAL */

.btn-default {
  padding: var(--pd-md);
  border: none;
  background-color: var(--white);
  cursor: pointer;
  transition: var(--tr-03-ease);
}

.btn-default:hover {
  background-color: var(--light-green);
}

/* GENERAL */

/* TODO GENERAL */

#todo {
  display: flex;
  flex-direction: column;
  max-width: 60dvw;
  min-width: 35dvw;
}

.nav {
  display: flex;
  width: 100%;
}

.tab-button {
  display: inline-block;
  min-width: 50%;
  font-size: 20px;
  padding: 6px;
  border: none;
  cursor: pointer;
  border-top: double 2px var(--light-green);
  transition: var(--tr-03-ease);
}

.tab-button:nth-child(1) {
  border-radius: var(--border-radius) 0 0 0;
  border-left: double 2px var(--light-green);
}
.tab-button:nth-child(2) {
  border-radius: 0 var(--border-radius) 0 0;
  border-right: double 2px var(--light-green);
}

.tab-button-active {
  background-color: var(--light-green);
}

.tab-button:hover:not(.tab-button-active) {
  background-color: var(--light-green);
}

.todo-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin: 0 auto;
  padding: clamp(8px, 2vw, 25px);
  border: double 2px var(--light-green);
  border-top: none;
}

/* TODO GENERAL */

/* TODO TODOS TAB */

.todo-todos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.todo-todos form {
  width: 100%;
}

.todo-add-input {
  display: flex;
}

.todo-add-input input {
  flex: 1;
  font-size: clamp(18px, 5vw, 24px);
  padding: clamp(5px, 5vw, 10px) clamp(8px, 5vw, 16px);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: none;
  outline: none;
  transition: var(--tr-03-ease);
}

.todo-add-input input:focus {
  background-color: var(--light-green);
}

.todo-add-input button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 0 4px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
  transition: var(--tr-03-ease);
  color: inherit;
  font-weight: 600;
}

.todo-add-input button:hover {
  background-color: var(--light-green);
}

/* TODOS LIST */
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-item {
  display: flex;
  gap: 50px;
  align-items: center;
}

.todo-tag {
  text-transform: uppercase;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

/* TODO TODOS TAB */

/* TODO TAGS TAB */

.new-tag-form {
  transition: var(--tr-03-ease);
  display: flex;
}

.new-tag-form__input {
  flex: 1;
  font-size: clamp(18px, 5vw, 24px);
  padding: clamp(5px, 5vw, 10px) clamp(8px, 5vw, 16px);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: none;
  outline: none;
  transition: var(--tr-03-ease);
}

.new-tag-form__button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  font-weight: 600;
}

.btn-create-new {
  border-radius: var(--border-radius);
  width: 100%;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-700px);
}

.slide-leave,
.slide-enter-to {
  transform: translateX(0px);
}

.create-new-open {
  background-color: var(--light-green);
}

.todo-tags {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.todo-tags > div h2 {
  margin-bottom: 12px;
}

.todo-tags__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-tags__list-item {
  position: relative;
  background-color: var(--white);
  padding: var(--pd-md);
  border-radius: var(--border-radius);
  font-size: 20px;
  transition: var(--tr-03-ease);
  user-select: none;
  text-transform: uppercase;
}

.todo-tags__list-item:hover {
  background-color: var(--light-green);
}

.todo-tags__list-item:hover .tag-delete {
  opacity: 1;
  visibility: visible;
}

.tag-delete {
  position: absolute;
  text-align: center;
  top: -10px;
  right: 0;
  opacity: 0;
  width: 25px;
  aspect-ratio: 1;
  font-weight: 500;
  padding: var(--pd-sm-to-md);
  visibility: hidden;
  border-radius: 50%;
  transition: var(--tr-03-ease);
  cursor: pointer;
  z-index: 10;
  background-color: var(--red);
  color: inherit;
}

.tag-delete:hover {
  transform: scale(1.1);
}

/* CUSTOM SELECTION COMPONENT */

.custom-select {
  margin-top: 4px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 0.3s ease;
}

.todo-tag-select {
  width: 100%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 6px;
}

.custom-select-options {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.custom-select-options__open {
  height: 6rem;
}

.custom-select-options__scroll {
  overflow-y: scroll;
}
.custom-select-radio {
  display: none;
}

.custom-select-label {
  cursor: pointer;
  display: block;
  padding: 6px;
  transition: var(--tr-03-ease);
  text-transform: uppercase;
}

.custom-select-label:hover {
  background-color: var(--light-green);
}

.custom-select-display {
  cursor: pointer;
  padding: 6px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.custom-select-display-selected {
  background-color: var(--light-green);
}

.custom-select-icon {
  animation: spinIcon 0.3s ease;
}

/* FILTER */

.filter {
  width: 100%;
}

.filter h3 {
  margin-bottom: 8px;
}

.filter div {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.filter-button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  text-transform: uppercase;
}

.filter-button-active {
  animation: changeBorderColors 3s ease infinite;
}

.filter-button:hover {
  transform: scale(1.05);
}

/* PAGINATION */
.pagination {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination div:first-of-type {
  display: flex;
  gap: 4px;
}

.pagination-buttons-box {
  display: flex;
  gap: 6px;
}

.pagination-item {
  font-size: 20px;
}

.active-page {
  font-weight: 600;
  color: var(--light-green);
}

.pagination-button {
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 24px;
  background-color: var(--white);
  padding: var(--pd-sm-to-md);
  color: inherit;
  transition: var(--tr-03-ease);
}

.pagination-button:hover {
  background-color: var(--light-green);
}

/* MESSAGE */

.message {
  position: absolute;
  top: 5%;
  left: 38%;
  background-color: var(--white);
  color: var(--red);
  border-radius: var(--border-radius);
  padding: var(--pd-lg);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.1);
  max-width: 30rem;
  min-width: 10rem;
}

.message-text {
  text-wrap: wrap;
  font-weight: 500;
}

.shake-enter-to {
  animation: shakeMessage 0.5s;
}

.shake-leave-to {
  animation: shakeMessage 0.5s reverse;
}

/* MESSAGE */

/* PAGINATION */

/* ANIMATIONS */
@keyframes slideIn {
  40% {
    margin-left: 0;
    margin-right: 20px;
  }

  80% {
    margin-right: 0;
    margin-left: 20px;
  }

  100% {
    margin: 0;
  }
}

@keyframes spinIcon {
  100% {
    rotate: 360deg;
  }
}

@keyframes changeBorderColors {
  10%,
  40%,
  70%,
  100% {
    border: 3px solid black;
  }

  20%,
  50%,
  80% {
    border: 3px solid white;
  }

  30%,
  60%,
  90% {
    border: 3px solid black;
  }
}

@keyframes shakeMessage {
  0%,
  40%,
  80% {
    transform: translateX(-20px);
  }

  20%,
  60% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

/* QUERIES */

@media only screen and (max-width: 750px) {
  #todo {
    max-width: 80dvw;
    min-width: 80dvw;
  }

  .tag-delete {
    opacity: 1;
    visibility: visible;
  }

  .message {
    left: 22%;
  }
}

@media only screen and (max-width: 560px) {
  #todo {
    max-width: 95dvw;
    min-width: 95dvw;
  }

  .message {
    left: 10%;
  }
}

@media only screen and (max-width: 350px) {
  .todo-todos form {
    width: auto;
  }

  .message {
    left: 2%;
  }
}
